.collections {
    .col-sm-12 {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 50px;
    }
    h3 {
        margin-top: 0;
    }
    .row1 {
        line-height: 100%;
    }
    .logo {
        width: 200px;
        height: 100px;
        float: left;
    }
    img {
        height: 80px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        @media screen and (max-width: 1199px) {
            height: 60px;
        }
        @media screen and (max-width: 991px) {
            height: 80px;
        }
        @media screen and (max-width: 340px) {
            height: 60px;
        }
        @media screen and (max-width: 270px) {
            height: 40px;
        }
    }
}