.blacklight-catalog-show {
	font-family: $font-family-base !important;
	h1 {
		font-family: $font-family-base !important;
		margin-bottom: 20px;
	}
	.panel .panel-body .dl-invert {
		margin-bottom: 0px;
	}
	.blacklight-vlaamse-kunstcollectie h1 {
		padding-left: 40px;
	}
	.blacklight-vlaamse-kunstcollectie:before {
		content: "\f0c5";
		font-family: 'FontAwesome' !important;
		font-size: 175%;
		color: rgb(95, 88, 93);
		position: absolute;
	}
	.dl-horizontal {
		margin-top: 20px;
	}
}