.blacklight-catalog-index {
	font-family: $font-family-base !important;
	h3 {
		font-family: $font-family-base !important;
		font-weight: 900;
	}
	.search-widgets {
		@media screen and (max-width: 222px) {
			float: left !important;
		}
	}
	.catalog_startOverLink {
	    color: $color3 !important;
	    background-color: $color4;
	    border: 1px solid $color4;
	    font-size: 14px;
	}
	.catalog_startOverLink:hover {
		background-color: $color1;
		border: 1px solid $color1;
	}
	.catalog_startOverLink:focus {
		background-color: $color2;
		border: 1px solid $color2;
	}
}