[Unit]
Description=solr
Requires=network.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/project-blacklight
User=blacklight
Restart=always
RestartSec=10


ExecStart=/opt/blacklight/bin/rails s

[Install]
WantedBy=multi-user.target

