[Unit]
Description=project-blacklight
Requires=network.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/project-blacklight
User=blacklight
Restart=always
RestartSec=10


ExecStart=/opt/project-blacklight/start.sh

[Install]
WantedBy=multi-user.target

