.btn-primary {
    background: $color4;
    border:1px solid $color4;
}

.btn-primary:hover {
    background: $color1;
    border:1px solid $color1;
}

#sort-dropdown .dropdown-toggle,
#per_page-dropdown .dropdown-toggle {
   color: $color1;
}