.blacklight-catalog-front #search-navbar {
    background-size: cover;
    background: transparent image_url('header.jpg') no-repeat top center;
    border: none;
    height: 180px;
}

.blacklight-catalog-front #search-navbar .container {
    line-height: 180px;
}

.blacklight-catalog-front #search-navbar .container .search-query-form {
    margin: 0 auto;
    padding: 0;
    float: none;
    width: auto;

    .input-group {
        vertical-align: middle;
        line-height: normal;

        @media (max-width: 768px) {
            display: inline-table;
        }
    }

    .input-group-addon {
        .search_field { 
            background-color: #fff;
            border-radius: 4px 0 0 4px;
            width: 15ch;
            border: none;
            background: transparent;
        }
    }
    .twitter-typeahead {
        input.tt-input.form-control {
            @media (max-width: 768px) {
              width: 100%;
            }
        }
    }

    .input-group-btn {

    }
}