.captionClass1 {display: none;}
.captionClass2 {display: none;}
.captionClass3 {display: none;}
.captionClass4 {display: none;}
.captionClass5 {display: none;}
#item1 {
    background: transparent image_url('header1.jpg') no-repeat center center;
    background-size: cover;
    height: 400px;
    .captionClass1 {display: block;}
}
#item2 {
    background: transparent image_url('header2.jpg') no-repeat center center;
    background-size: cover;
    height: 400px;
    .captionClass2 {display: block;}
}
#item3 {
    background: transparent image_url('header3.jpg') no-repeat center center;
    background-size: cover;
    height: 400px;
    .captionClass3 {display: block;}
}
#item4 {
    background: transparent image_url('header4.jpg') no-repeat center center;
    background-size: cover;
    height: 400px;
    .captionClass4 {display: block;}
}
#item5 {
    background: transparent image_url('header5.jpg') no-repeat center center;
    background-size: cover;
    height: 400px;
    .captionClass5 {display: block;}
}
.carousel-item {
	display:none;
}
.carousel-indicators {
	bottom:10px;
}
.carousel-indicators li {
	background-color: $color3;
    opacity: 0.5;
    border: none;
    margin: 0px;
}
.carousel-indicators .active{
	background-color: $color3;
    opacity: 1;
    width: 10px;
    height: 10px;
    bottom: 15px;
}
.carousel-indicators li:hover, .carousel-indicators .active:hover{
    background-color: $color1;
    opacity: 1;
}
.carouselButton {
    position: absolute;
    background-color: transparent;
    border:none;
    color: $color3;
    font-size:20px;
}
#playButton, #pauseButton {
    bottom: 10px;
    right: 10px;
    background-color: transparent;
}
@media screen and (max-width: 991px) {
    
    #carouselWrapper {

        .carousel-indicators {
            bottom: 25px !important;
        }
        .carousel-indicators .active{
            background-color: $color4;
            opacity: 1;
        }
        .carousel-indicators li {
            background-color: $color4;
            opacity: 0.5;
        }
        .buttons {
            height: 60px;
            background-color: rgba(0,0,0,0.1);
        }
        #prevButton, #nextButton {
            top: auto !important;
            bottom: 5px !important;
            color: $color4 !important;
        }
        #playButton, #pauseButton {
            top: auto !important;
            bottom: 5px !important;
            color: $color4 !important;
            left: 50%;
            transform: translateX(-50%);
            padding: 0;
        }
        .carousel-indicators li:hover, .carousel-indicators .active:hover{
            color: $color1 !important;
            opacity: 1;
        }
        #playButton:hover, #pauseButton:hover, #prevButton:hover, #nextButton:hover {
            background-color: transparent;
            color: $color1 !important;
        }
    }
}
@media screen and (max-width: 700px){
    .search_form {
        width: 100% !important;
    }
}
#prevButton {
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 30px;
    background-color: transparent;
    color: $color3;
}
#nextButton {
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 30px;
    background-color: transparent;
    color: $color3;
}
.carouselButton:hover {
    background-color: transparent;
    color: $color1 !important;
}
.carouselButton:focus{
    outline: none;
}
.carouselButton:active{
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none !important;
}
.carousel-caption {
    left:10px;
    right:10px;
    max-width:220px;
    min-height:55px;
    padding:5px;
    bottom:10px;
    background-color: rgba(0,0,0,0.25);
	text-align:left;
    text-shadow: none;
    font-size: 75%;
    border-radius:4px;
}
.carousel-caption a {
    display: block;
    font-family: $font-family-base;
    color: $color3;
    margin: 0;
}
.carousel-caption a:hover {
    color: $color3;
    text-decoration: none;
}
.carousel-caption .title {
    font-weight: normal;
}
.carousel-caption .date {
    font-weight: lighter;
}
.carousel-caption .creator {
    font-weight: lighter;
}
.carousel-caption .collection {
    font-weight: lighter;
    font-style: italic;
}
@media screen and (max-width: 234px) {
    .carousel-caption {
        display: none;
    }
}
.calltoaction {
    color: $color3;
    background-color: $color4;
    margin:auto;
    margin-top:10px;
    padding:0px;
    line-height:10px;
    text-align:center;
    border-radius:4px;
}
.calltoaction p {
    font-family: $font-family-base;
    font-weight: lighter;
    padding:10px;
    line-height: 120% !important;
    margin: 0;
}
.search_form {
    top: 150px;
    bottom: 150px !important;
}