.navbar-inverse {
    background: $color1;
    border-color: $color1;
    width: 100%;
    top: 0;
}

#header-navbar .navbar-brand {  /* The main logo image for the Blacklight instance */
    background: transparent image_url('logo-arthub.jpg') no-repeat center left;
}

#header-navbar {
    border: 0px;
}

.navbar-inverse .navbar-nav > li {
    font-size: 1.25em;
    //float: none;
    // display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

@media screen and (max-width: 767px) {
    .navbar-inverse .navbar-nav > li {
        text-align: center;
    }
}

.navbar-inverse .navbar-nav > li > * {
    font-family: $font-family-base;
    font-weight: lighter;
    margin: 15px 10px;
    padding: 0;
}

.navbar-inverse .navbar-nav > li > div {
    margin: 15px 0px;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > div > a {
    color: $color3;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > div > a:hover {
    color: $color4;
}

.navbar-inverse .navbar-nav > li > div > a[href*="en"] {
    margin-left: 30px;
}

@media screen and (max-width: 767px) {
    .navbar-inverse .navbar-nav > li > div > a[href*="en"] {
        margin-left: 0px;
    }
}

.navbar-inverse .navbar-nav > li > div > a[href*="nl"] {
    margin-left: 5px;
}

.navbar-inverse .navbar-nav > li > div > a.selectedLang {
    color: $color4;
    text-decoration: underline;
}

.activePage {
    color: $color4 !important;
}