<li>
  <div>
    <% Rails.application.config.available_locales.each do |l| %>
      <%= link_to l, (url_for(locale: l) rescue blacklight.url_for(locale: nil, script_name: "/#{l}")), :class => ("selectedLang" if I18n.locale.to_s == l ) %>
    <% end %>
  </div>
</li>