<div class="content-wrapper">

        <div class="container breadcrumb-container">
            <div class="col-group">
                <div class="col-12">
                      <div class="region region-breadcrumb">


<div id="block-vkcabsmodern-breadcrumbs" class="container breadcrumb-container block block-system block-system-breadcrumb-block">


  <div class="col-group">
    <div class="col-mb-12 col-12">
                <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
    <ol>
          <li>
                  <a href="/en">Home</a>
              </li>
          <li>
                  Legal notification
              </li>
        </ol>
  </nav>

          </div>
  </div>
</div>

  </div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-group">
                <div class="col-mb-12 col-12 overview-title">
                    <h1><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Legal notification</span>
</h1>
                </div>
            </div>
        </div>

        <div class="container mt-med" role="main">
            <div class="col-group">



                    <div class="layout-content col-mb-12 col-12 col-dt-12 col-ld-12">
                        <div class="accordion js-accordion">
                            <div class="region region-facets">

  </div>

                        </div>
                          <div class="region region-content">

<div id="block-vkcabsmodern-content" class="block block-system block-system-main-block">



<article role="article" about="/en/legal-notification" typeof="schema:WebPage" class="node node--type-page node--view-mode-full container">
    <div class="col-group">
        <div class="col-9">

              <span property="schema:name" content="Legal notification" class="rdf-meta hidden"></span>



            <div class="node__content">

            <div property="schema:text" class="field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><strong>Please carefully read this legal notification. Visiting or using this website implies that the visitor tacitly agrees with the following general terms and conditions.</strong></p>

<h1>Publisher</h1>

<p>The publisher of this website is the Belgian non-profit organisation Flemish Art Collection VZW (Vlaamse Kunstcollectie / VKC).</p>

<p>Headquarters: Hofbouwlaan 28 - 29&nbsp;(Museum of Fine Arts, Ghent), 9000 Gent, Belgium.</p>

<p>Correspondence address: Hofbouwlaan 28 - 29, 9000 Gent, Belgium.</p>

<p>The Flemish Art Collection is the structural partnership between three art-historical museums in Flanders: the Royal Museum of Fine Arts Antwerp (KMSKA), the Groeninge Museum in Bruges and the Museum of Fine Arts in Ghent (MSK).&nbsp; The most important objective of the Flemish Art Collection is to increase the international knowledge of the Flemish Art Collections and the Flemish art-historical museums.&nbsp;</p>

<p>For this website, the VKC has collected content from various collections-management heritage organisations in Flanders. You will find the logos and links to these partners at the bottom of each webpage.</p>

<h1>Intellectual Property Right, Copyright</h1>

<p>Texts, images, photographs, logos and other items on this site are protected by copyright and other laws on intellectual property.&nbsp;</p>

<p>Copies, reproductions, changes, translations, operations, changes to the site, part of this site or the content on this site, in whatever format or method are subjected to strict rules.</p>

<p>The Flemish Art Collection invests a great deal of time and energy for the proper identification of the status of right of the various types of content on its websites. We try to indicate this as well as possible. The complex laws and the many different, and sometimes changing, copyright owners, however, do not guarantee that this is done without faults. Should you have evidence of a fault with the copyright status, or if you are of the opinion that for specific parts of this website the copyright is violated, then you can immediately contact us at <a href="mailto:info@vlaamsekunstcollectie.be">info@vlaamsekunstcollectie.be</a>. If you have grounds to believe that the copyright on certain works has been infringed, you may contact the Flemish Art Collection by email (<a href="mailto:pascal.ennaert@vlaamsekunstcollectie.be">info@vlaamsekunstcollectie.be</a>). We shall try to help you as quickly as possible.&nbsp;</p>

<h2>Images and their copyright status</h2>

<p>The copyright is applicable and can be enforced for up to 70 years after the death of an author, artist, photographer, etc. (or his/her authorised rights’ holder). The oeuvres of most artists on these websites are protected by copyright.</p>

<p>Under each image on this website you will find the copyright status. Images of works that are protected by copyright will at least be designated by a ©, immediately followed by the mention of the person who holds the rights. Images of works from artists that do not have an existing copyright will be designated with CCO.</p>

<p>The images of the in copyright art works on this website (with the designation of ©) should therefore not be reproduced nor downloaded without the consent of the rights holders or their agent. Therefore, any reproduction, adaptation, partial modification, or transmission via TV, cable or the Internet, of this art works is prohibited without the prior consent of the authors or their agent.&nbsp;</p>

<p>Unless otherwise mentioned, the rights holder of the works on this website are represented by SABAM, Belgian Society of Authors, Composers and Publishers, 75-77 rue d’Arlon, 1040 Brussels, Belgium. Tel.: 0032 (0)2 286 82 80, fax: 0032(0)2 230 47 36 Internet:&nbsp;<a href="http://www.sabam.be/">http://www.sabam.be</a>, e-mail:&nbsp;<a href="mailto:visual.arts@sabam.be">visual.arts@sabam.be</a></p>

<h2>To order high-resolution images</h2>

<p>Also for copyright reasons, the maximum number of the pixels of the images of the works from the oeuvres of the Abstract Modernists on this website are regrettably limited.&nbsp;</p>

<p>For&nbsp;high-resolution images&nbsp;of&nbsp;works&nbsp;from the&nbsp;Abstract Modernists,&nbsp;available&nbsp;on&nbsp;this website,&nbsp;you can contact two organisations. On each web page from this website, the organisation to contact is mentioned:</p>

<p>- Lukas, Art in Flanders, <a href="http://www.lukasweb.be/">http://www.lukasweb.be</a>&nbsp;</p>

<p>- DAMS Antwerp, <a href="https://dams.antwerpen.be">https://dams.antwerpen.be</a>&nbsp;</p>

<p>When there is no instance mentioned, than you should contact the museum responsible.</p>

<p>If appropriate, Lukas and DAMS Antwerp will refer you to SABAM (or other copyright owners and beneficiaries).</p>

<h2>Re-use of data and texts on this website</h2>

<p>All <b>descriptive information or so-called data</b> mentioned on this website contain no indication of originality and therefore belong to the public domain. You can thus freely use this information. This website publishes this data under a Creative Commons Zero (CCO) license to make this explicitly clear.</p>

<p>All <b>texts</b> used on this website were made available under the Creative Commons license CC-BY or CC-BY-NC. With each text you will find the indication of the governing copyright status.</p>

<p>CC-BY means that the text can be re-used with a mention of the name of the author (if mentioned) and the source (Website Abstract Modernisme, Publisher Flemish Art Collection vzw, <a href="http://www.abstractmodernisme.be">www.abstractmodernisme.be</a>, date).</p>

<p>CC-BY-NC means that you can re-use the text under the same condition as with CC-BY, but only for non-commercial re-use. Any commercial re-use is forbidden.</p>

<p>You can find more information about Creative Commons licenses at: <a href="http://www">www.creativecommons.be</a></p>

<p>The Flemish Art Collection is working on building a datahub through which all available data can automatically be made available. As soon as this datahub is available, you will find the web address here.</p>

<h1>Cookies</h1>

<p>This website uses cookies to register your language choice, make this site run smoothly and to track anonymous statistics to Google Analytics.</p>

<h1>Content</h1>

<p>The Flemish Art Collection places a strong importance upon the fact that the information offered on this website is reliable and up to date. Since the information on collections is directly take from the registration system of the partner museums, the museums also stand for the guarantee of its quality.</p>

<p>When new collections data, information and images are uploaded, the old data is automatically overwritten. As such, this website remains an active system and they visitor can follow the most recent scientific discoveries.&nbsp;</p>

<p>In addition to collections data from the registration system, the visitor also receives contextual and supplemental information that can place the art objects in a broader framework. This information must also be reliable and of good quality. Therefore the Flemish Art Collection has specialised art historians for editing its websites.</p>

<h1>Personal Data</h1>

<p>The Flemish Art Collection wants to guarantee the privacy of every visitor to this site and does so with due regard for all statutory and other provisions regarding the protection of privacy. When you address a question or comment to the Flemish Art Collection, or when you use the registration and login functions of this website, you are asked to give your name and e-mail address. The Flemish Art Collection will never reveal nor pass on this information to anyone, except if obliged to do so by an authorised public body. The information will only be used with regard to our service(s), we will never contact you for something that is not related to our services.</p>

<p>If you send us your personal details, they will be included in our files and processed for the membership database management, the sites and the (improvement of the) provided service, to carry out market surveys and questionnaires and to inform you about updates and products issued by the Flemish Art Collection.</p>

<p>The visitor can, freely and by request, always refuse the usage of his/her personal information for direct marketing. For this, he/she is directed to contact the Flemish Art Collection, Hofbouwlaan 28 - 29, 9000 Ghent or via <a href="%22mail">info@vlaamsekunstcollectie.be</a>.</p>

<p>In conformity to the legal processing of personal information of 08/12/1992, the visitor holds a legal right to the investigation and possible correction of his/her personal details. With a proof of identity (copy of a passport/ID card), you may via a written, dated and signed request to the Flemish Art Collection Hofbouwlaan 28 - 29, 9000 Ghent or <a href="mailto:info@vlaamsekunstcollectie.be">info@vlaamsekunstcollectie.be</a>, obtain the written notification of your personal data free of charge. If necessary, you can also request to correct the data that is incorrect, incomplete or not pertinent.</p>

<p>The Flemish Art Collection can collect anonymous or aggregated personal information from non-personal sources, such as browser type or IP address, the operating programme that the visitor uses or the domain name of the website from which the visitor uses to get to our website or through which one the visitor leaves. This makes it possible for us to optimise our permanent website for our visitors.</p>

<p>For more information or for complaints regarding the handling of your personal details please contact the 'Commissie voor de bescherming van de persoonlijke levenssfeer' (Commission for the protection of privacy), Ministry of Justice, Waterloolaan 115 at 1000 Brussels.</p>

<h1>Liability</h1>

<p>The Flemish Art Collection is not liable for any mistakes on this site. Under no circumstance can the Flemish Art Collection be held liable or responsible for damages, irrespective of the nature arising from the data provided on this site or the incomplete, out-dated or incorrect nature of the data. Nor can the Flemish Art Collection be held liable or responsible for damages, irrespective of the nature, arising from the use of this site.</p>

<p>For links to websites or to web pages of third parties, over which the Flemish Art Collection has no control in terms of content or other characteristics, the Flemish Art Collection can, under no circumstance, be held liable or responsible.</p>

<p>If a provision of these terms and conditions cannot be enforced or conflicts with a mandatory provision, this lack of enforceability or invalidity shall not affect the validity and enforceability of the other provisions.</p>

<h1>Inquiry regarding the attribution or authenticity</h1>

<p>You can provide us with an inquiry regarding the authenticity of a work of art or an attribution of a work of art to a specific artist.</p>

<p>The conservators of the Flemish Art Collection, and its partner museums—the Groeningemuseum in Bruges, the Museum of Fine Arts in Ghent and the Royal Museum of Fine Arts in Antwerp—are able to provide an unofficial attribution or authenticity estimate.&nbsp; Estimations are also exclusively upon a visit by the owner of the work or authorised person, namely a legal representative.&nbsp;</p>

<p>However, we cannot provide an appraisal of value due to ethical reasons. For a possible appraisal you can always contact a recognised appraiser or art dealer in your area (for Belgium: search the Yellow Pages under ‘purchase paintings’ or ‘art auctions’; and for Holland: <a href="http://www.federatie-tmv.nl/">http://www.federatie-tmv.nl/</a>).</p>

<p>For an attribution or authenticity estimate you need to send a few photos of the work of art to us in the highest resolution possible. The photographs should show the work as an entirety, the possible signature of the artist, as well as the verso of the work. Once you have provided high-quality photos of the work of art, they will then be passed along to an expert curator.</p>

<p>Possible information on the provenance of former owners can be of highly valuable information.</p>

<p>The unofficial attribution or authenticity estimate is made by expert conservators of the partner museums to the best of their knowledge. Their verdict, however, is never definitive. Moreover, for a more conclusive judgment, the expertise of more experts is necessary. As such, we thus call the attribution or the authenticity estimate ‘unofficial’.</p>

<p>No rights may be given upon the estimation or attribution. The appraisal or the attribution cannot be used for any commercial application. The information provided is protected by copyright and can only be made public and/or reproduced exclusively with the permission of the museum involved.&nbsp;</p>

<p>As soon as one of our conservators has an attribution or authenticity estimate ready, we will provide you with this as soon as possible.</p>

<p>Neither the Flemish Art Collection, nor the partner museums, nor the personnel of these organisations can be held responsible for an initial estimate or attribution that is found to be incorrect upon further inspection. The Flemish Art Collection likewise does not accept responsibility for previous damage or lost profit.</p>
