<div class="contact">
	<div class="row0">
	    <h2>Contact</h2>
	</div>
	<div class="row1">
		<h3>Vlaamse Kunstcollectie vzw</h3>
		<p>MSK Gent, Fernand Scribedreef 1</p>
		<p>9000 Gent</p>
		<br>
		<h3>Coördinatie</h3>
		<p>T +32 (0)9 225 49 24</p>
		<p>F +32 (0)9 225 49 55</p>
		<p>E <a href="mailto:pascal.ennaert@vlaamsekunstcollectie.be">pascal.ennaert@vlaamsekunstcollectie.be</a></p>
		<br>
		<h3>Dataconservator</h3>
		<p>T +32 (0)9 225 49 34</p>
		<p>F +32 (0)9 225 49 55</p>
		<p>E <a href="mailto:matthias.vandermaesen@vlaamsekunstcollectie.be">matthias.vandermaesen@vlaamsekunstcollectie.be</a></p>
		<br>
		<h3>Webmaster</h3>
		<p>T +32 (0)9 225 49 34</p>
		<p>F +32 (0)9 225 49 55</p>
		<p>E <a href="mailto:matthias.depoorter@vlaamsekunstcollectie.be">matthias.depoorter@vlaamsekunstcollectie.be</a></p>
	</div>
</div>