<% title = "Contact" %>
<% @page_title = "#{title} - #{application_name}" %>
<% content_for(:meta_description) do %>Contact the Flemish Art Collection, nodel point for museum collections in Flanders.<% end %>

<div class="contact">

	<div class="col-md-2">
	</div>
	<div class="col-md-8">

	    <h2><%= title %></h2>

		<h3>Flemish Art Collection</h3>
		<p>Museum of Fine Arts Ghent</p>
		<p>Fernand Scribedreef 1</p>
		<p>9000 Ghent, Belgium</p>

		<br>

		<h3>Coordination</h3>
		<p><strong>Pascal Ennaert</strong></p>
		<p>T +32 (0)9 225 49 24</p>
		<p>F +32 (0)9 225 49 55</p>
		<p>E <a href="mailto:pascal.ennaert@vlaamsekunstcollectie.be">pascal.ennaert@vlaamsekunstcollectie.be</a></p>

		<br>

		<h3>Data conservator</h3>
		<p><strong>Matthias Vandermaesen</strong></p>
		<p>T +32 (0)9 225 49 34</p>
		<p>F +32 (0)9 225 49 55</p>
		<p>E <a href="mailto:matthias.vandermaesen@vlaamsekunstcollectie.be">matthias.vandermaesen@vlaamsekunstcollectie.be</a></p>

		<br>

		<h3>Webmaster</h3>
		<p><strong>An Seurinck</strong></p>
		<p>T +32 (0)9 225 49 34</p>
		<p>F +32 (0)9 225 49 55</p>
		<p>E <a href="mailto:an.seurinck@vlaamsekunstcollectie.be">an.seurinck@vlaamsekunstcollectie.be</a></p>

		</div>

	</div>

</div>