<div class="legal-notification col-md-9">
">
	
	<div class="row0">
		<h2>Juridische kennisgeving</h2>
	</div>

	<div class="row1">
		
		<p><b>Door de toegang tot en het gebruik van de website verklaart u zich uitdrukkelijk akkoord met de volgende algemene voorwaarden.</b></p>
		
		<h3>Uitgever</h3>
		
		<p>De uitgever van deze site is de VZW Vlaamse Kunstcollectie (VKC).</p>
		<p>Maatschappelijke zetel: Hofbouwlaan 28 - 29 (MSK Gent), 9000 Gent.</p>
		<p>Correspondentieadres: Hofbouwlaan 28 - 29, 9000 Gent</p>
		<p>De VKC is de koepelorganisatie van het Koninklijk Museum voor Schone Kunsten in Antwerpen, het Groeningemuseum in Brugge, het Museum voor Schone Kunsten in Gent, M - Museum Leuven en Mu.ZEE in Oostende. De VKC heeft tot doel de kennis van de Vlaamse Kunstcollecties te promoten in binnen- en buitenland.</p>
		<p>Voor deze website verzamelde de VKC content van verschillende collectiebeherende erfgoedorganisaties in Vlaanderen. U vindt de logo’s en links naar deze partners onderaan elke webpagina.</p>
		
		<h3>Auteursrechten en het publiek domein</h3>
		
		<p>Teksten, afbeeldingen, logo’s en andere items op deze site vallen onder de bescherming van het auteursrecht en andere wetgeving over het intellectueel eigendomsrecht.</p>
		<p>Kopieën, reproducties, aanpassingen, vertalingen, bewerkingen, wijzigingen van het geheel, een gedeelte of de content van deze site, in welke vorm of op welke manier dan ook, zijn onderworpen aan strikte regels.</p>
		<p>De Vlaamse Kunstcollectie besteedt veel tijd en energie in het correct aangeven van de rechtenstatus van de verschillende soorten content op haar websites. We proberen deze zo goed mogelijk aan te duiden. De complexe wetgeving en de vele verschillende en soms wisselende rechtenhouders garanderen evenwel niet dat dit foutloos gebeurt. Mocht u een indicatie hebben van een fout in de rechtenstatus of mocht u van mening zijn dat voor specifieke onderdelen van deze website het auteursrecht werd geschonden, dan kunt u dit onmiddellijk melden aan <a href="mailto:info@vlaamsekunstcollectie.be">info@vlaamsekunstcollectie.be</a> Wij proberen daar dan zo vlug mogelijk aan te verhelpen.</p>
		
		<h3>Afbeeldingen, hun auteursrechtenstatus en het publiek domein</h3>
		
		<p>Het auteursrecht is van kracht en kan worden afgedwongen tot 70 jaar na het overlijden van een auteur, kunstenaar, fotograaf, … (of zijn/haar rechthebbende). Het oeuvre van de meeste kunstenaars op deze websites is dan ook auteursrechtelijk beschermd.</p>
		<p>Onder elke afbeelding op deze website vind je de rechtenstatus.</p>
		<p>Afbeeldingen van werken die auteursrechtelijk beschermd zijn krijgen minstens de vermelding ©, onmiddellijk gevolgd door de vermelding van de rechthebbende.</p>
		<p>Afbeeldingen van werken waar geen copyright meer op rust krijgen de vermelding CC0.</p>
		<p>De afbeeldingen van in copyright werken op deze website (met de vermelding ©) mogen niet gereproduceerd, noch gedownload worden zonder de toestemming van de auteur of diens lasthebber. Daarom is iedere reproductie, aanpassing, gedeeltelijke wijziging of doorgifte via tv, kabel of internet van deze werken verboden, behoudens voorafgaande toestemming van de rechthebbende.</p>
		<p>Tenzij anders vermeld worden de meeste rechthebbenden van werken op deze website vertegenwoordigd door SABAM, Belgische Vereniging van Auteurs, Componisten en Uitgevers, Aarlenstraat 75-77 te 1040 Brussel, België. Tel.: 0032 (0)2 286 82 80, fax: 0032(0)2 230 47 36 Internet: <a href="http://www.sabam.be">http://www.sabam.be</a>, e-mail: <a href="mailto:visual.arts@sabam.be">visual.arts@sabam.be</a></p>
		
		<h3>Bestellen van afbeeldingen van hoge resolutie</h3>

		<p>Eveneens om auteursrechterlijke redenen is de resolutie van de op deze website aangeboden beelden beperkt.</p>
		<p>Voor beelden met hoge resolutie van werken op deze website kunt u zich, afhankelijk van het museum dat het werk beheert, wenden tot twee instanties. Er wordt op elke afzonderlijke werkenfiche op deze website naar deze instanties verwezen:</p>
		<ul>
			<li>Lukas, Art in Flanders, <a href="http://www.lukasweb.be">http://www.lukasweb.be</a></li>
			<li>DAMS Antwerpen, <a href="https://dams.antwerpen.be">https://dams.antwerpen.be</a></li>
		</ul>
		<p>Wanneer er geen instantie wordt vermeld, dan dient u zich te richten tot het betrokken museum.</p>
		<p>Zowel Lukas, Art in Flanders als DAMS Antwerpen zullen u steeds doorverwijzen naar SABAM of andere rechthebbenden wanneer er auteursrechten in het geding zijn.</p>

		<h3>Hergebruik van data in het publiek domein en teksten waarop auteursrecht rust op deze website</h3>

		<p>Alle op deze website vermelde <b>beschrijvende gegevens of zogenaamde data</b> bevatten geen indicatie van originaliteit en behoren daarom tot het publieke domein. U kunt deze gegevens dus vrij hergebruiken. Deze website publiceert deze gegevens onder een Creative Commons Zero (CC0) licentie om dit expliciet duidelijk te maken.</p>
		<p>Alle op deze website gebruikte <b>teksten</b> worden ter beschikking gesteld onder de Creative Commons-licenties CC-BY of CC-BY-NC. Bij elke tekst vindt u de indicatie van de gehanteerde rechtenstatus.</p>
		<p><b>CC-BY</b> wil zeggen dat je de tekst kunt hergebruiken mits vermelding van de naam van de auteur (indien vermeld) en van de bron (Arthub Flanders, Uitgever Vlaamse Kunstcollectie vzw, datum).</p>
		<p><b>CC-BY-NC</b> geeft aan dat je de tekst kunt hergebruiken onder dezelfde voorwaarde als bij CC-BY, maar enkel voor NIET-commercieel hergebruik. Elk commercieel hergebruik is verboden.</p>
		<p>Meer informatie over de Creative Commons licenties vindt u op <a href="http://www.creativecommons.be">www.creativecommons.be</a></p>
		<p>De Vlaamse Kunstcollectie werkt aan de bouw van een datahub via dewelke alle beschikbare data geautomatiseerd ter beschikking kunnen worden gesteld. Zodra deze datahub ter beschikking is zult u het webadres hier terugvinden.</p>

		<h3>Cookies</h3>

		<p>Deze website gebruikt cookies om uw taalkeuze te registreren, ervoor te zorgen dat u vlot op deze website surft en om anoniem bezoekersstatistieken te verzamelen via Google Analytics.</p>

		<h3>Inhoud</h3>

		<p>De Vlaamse Kunstcollectie hecht er veel belang aan dat de aangeboden informatie op de deze website betrouwbaar en up-to-date is. Omdat de collectiegegevens rechtstreeks uit de registratiesystemen van de partnermusea worden gehaald, staan die musea ook garant voor de kwaliteit ervan.</p>
		<p>Wanneer nieuwe collectiegegevens, informatie en beelden worden opgeladen, worden de oude data automatisch overschreven. Zo blijft deze website een levend systeem en kan de bezoeker de nieuwste wetenschappelijke bevindingen op de voet volgen.</p>
		<p>Naast de collectiegegevens uit de registratiesystemen krijgt de bezoeker ook context- en randinformatie, die de kunstobjecten ruimer kaderen en toelichten. Ook deze informatie moet betrouwbaar en van goede kwaliteit zijn. Daarom doet de Vlaamse Kunstcollectie voor de redactie van haar websites beroep op gespecialiseerde kunsthistorici.</p>

		<h3>Persoonsgegevens</h3>

		<p>De Vlaamse Kunstcollectie wenst de privacy van elke bezoeker van deze site te garanderen en doet dit met inachtneming van alle wettelijke en andere bepalingen inzake de bescherming van de persoonlijke levenssfeer.</p>
		<p>Wanneer u een vraag of opmerking richt naar de Vlaamse Kunstcollectie wordt u gevraagd uw naam en e-mailadres in te vullen. De Vlaamse Kunstcollectie zal deze informatie nooit bekend maken, noch aan derden doorgeven, behalve indien ze daartoe verplicht wordt door een gemachtigde overheidsinstantie. De informatie zal enkel gebruikt worden in verband met onze service(s), we zullen u nooit contacteren voor iets dat geen verband houdt met onze diensten.</p>
		<p>Indien u ons uw persoonlijke gegevens overmaakt, kunnen deze in onze bestanden worden opgenomen en verwerkt worden voor het beheer van het ledenbestand, de website en de (verbetering van de) aangeboden service, voor het uitvoeren van marktstudies en enquêtes, om u te informeren over updates en producten die uitgaan van de Vlaamse Kunstcollectie.</p>
		<p>De  bezoeker kan zich, kosteloos en op verzoek, steeds verzetten tegen het gebruik van zijn/haar gegevens voor directe marketing. Daartoe zal hij/zij zich richten tot Vlaamse Kunstcollectie vzw, Hofbouwlaan 28 - 29, 9000 Gent of via <a href="mailto:info@vlaamsekunstcollectie.be">info@vlaamsekunstcollectie.be</a>.</p>
		<p>Conform de wet verwerking persoonsgegevens van 08/12/1992 beschikt de bezoeker over een wettelijk recht op inzage en eventuele correctie van zijn/haar persoonsgegevens. Mits bewijs van identiteit (kopie identiteitskaart) kunt u via een schriftelijke, gedateerde en ondertekende aanvraag aan Vlaamse Kunstcollectie, Hofbouwlaan 28 - 29, 9000 Gent of <a href="mailto:info@vlaamsekunstcollectie.be">info@vlaamsekunstcollectie.be</a>, gratis de schriftelijke mededeling bekomen van uw persoonsgegevens. Indien nodigt kunt u ook vragen de gegevens te corrigeren die onjuist, niet volledig of niet pertinent zouden zijn.</p>
		<p>Vlaamse Kunstcollectie kan anonieme of geaggregeerde persoonsgegevens verzamelen van niet-persoonlijke aard, zoals browser type of IP-adres, het besturingsprogramma die de bezoeker gebruikt of de domeinnaam  van de website langs waar de bezoeker naar onze website is gekomen of waarlangs de bezoeker deze verlaat. Dit maakt het ons mogelijk om onze website permanent te optimaliseren voor onze bezoekers.</p>
		<p>Voor meer informatie of voor klachten over de behandeling van uw persoonsgegevens kunt u terecht bij de Commissie voor de bescherming van de persoonlijke levenssfeer bij het Ministerie van Justitie, Waterloolaan 115 te 1000 Brussel.</p>

		<h3>Aansprakelijkheid</h3>

		<p>De Vlaamse Kunstcollectie is niet aansprakelijk voor gebeurlijke fouten op de site. De Vlaamse Kunstcollectie kan in geen geval aansprakelijk of verantwoordelijk worden gesteld voor schade, van welke aard ook, die voortvloeit uit de gegevens die u op deze site worden verstrekt of uit het onvolledig, voorbijgestreefd of foutief karakter ervan. De Vlaamse Kunstcollectie kan evenmin aansprakelijk of verantwoordelijk worden gesteld voor schade, van welke aard ook, die voortvloeit uit het gebruik dat u van deze site maakt.</p>
		<p>Voor links naar websites of naar webpagina's van derden, waarover de Vlaamse Kunstcollectie geen zeggenschap heeft wat betreft de inhoud of andere kenmerken, is de Vlaamse Kunstcollectie in geen geval aansprakelijk noch verantwoordelijk.</p>
		<p>Indien enige bepaling van deze voorwaarden niet afdwingbaar zou zijn, of strijdig met een bepaling van dwingend recht, zal deze ,niet afdwingbaarheid of ongeldigheid de geldigheid en de afdwingbaarheid van andere bepalingen niet beïnvloeden.</p>

		<h3>Vragen naar toeschrijving of authenticiteit</h3>

		<p>Wanneer u ons een vraag toestuurt over de authenticiteit van een kunstwerk of de toeschrijving van een kunstwerk aan een bepaalde kunstenaar, dan gelden volgende regels:</p>
		<p>De conservatoren van de Vlaamse Kunstcollectie en haar partnermusea (het KMSKA in Antwerpen, het Groeningemuseum in Brugge, het MSK in Gent, M - Museum Leuven en Mu.ZEE in Oostende) kunnen voor een vrijblijvende toeschrijving of authenticiteitsinschatting zorgen. Beoordelingen worden evenwel uitsluitend op verzoek van de eigenaar van het kunstwerk of diens gemachtigde, c.q. wettelijk vertegenwoordiger gegeven.</p>
		<p>Een prijszetting kunnen wij om deontologische redenen niet geven. Voor een eventuele prijszetting kunt u steeds terecht bij een erkend taxateur of kunsthandelaar in uw buurt (voor België: zoek in de Gouden Gids op ‘schilderijen aankoop’ of op ‘veilingen kunst’; voor Nederland: <a href="http://www.federatie-tmv.nl/">http://www.federatie-tmv.nl/</a>).</p>
		<p>Voor een toeschrijving of authenticiteitsinschatting dient u een aantal foto’s van het kunstwerk, in de hoogst mogelijke resolutie, aan ons door te sturen. De foto’s dienen zowel het werk als geheel, de eventuele handtekening van de kunstenaar, als de achterzijde van het werk als voorwerp te hebben. Ook detailfoto’s kunnen van nut zijn. Deze foto’s zullen worden overgemaakt aan een deskundig curator.</p>
		<p>Eventuele informatie over de verwerving of vorige eigenaars kunnen zeer belangrijke gegevens zijn.</p>
		<p>De vrijblijvende toeschrijving of authenticiteitsinschatting wordt gemaakt door deskundige conservatoren van de partnermusea en naar hun beste weten. Het oordeel is nooit sluitend. Bovendien is voor een meer sluitend oordeel de expertise van meerdere deskundigen noodzakelijk. Daarom noemen wij de toeschrijving of authenticiteitsinschatting dan ook ‘vrijblijvend’.</p>
		<p>Aan de inschatting of toeschrijving kunnen geen rechten verleend worden. De inschatting of de toeschrijving kan geen rechtsgrond zijn voor commercieel gebruik. De verschafte informatie is auteursrechtelijk beschermd en mag uitsluitend met toestemming van het betrokken musea openbaar worden gemaakt en/of verveelvoudigd.</p>
		<p>Zodra één van onze conservatoren een toeschrijving of authenticiteitsinschatting klaar heeft, zullen we die zo vlug mogelijk aan u bezorgen.</p>
		<p>De VKC, noch haar partnermusea, noch het personeel van deze organisaties, kunnen aansprakelijk worden gesteld voor een eerste inschatting of toeschrijving die na verder onderzoek verkeerd bleken. Het VKC aanvaardt evenmin aansprakelijkheid voor geleden verlies of gederfde winst.</p>
	</div>

</div>