<% title = "Juridische kennisgeving" %>
<% @page_title = "#{title} - #{application_name}" %>
<% content_for(:meta_description) do %>Lees de juridische kennisgeving alvorens gebruik te maken van Arthub Flanders. Door de website te bezoeken verklaart u zich akkoord met de algemene voorwaarden.<% end %>

<div class="col-md-2">
</div>
<div class="col-md-8">
	
	<h2><%= title %></h2>
	
	<p><b>Door de toegang tot en het gebruik van de website verklaar je je uitdrukkelijk akkoord met de volgende algemene voorwaarden.</b></p>
	
	<h3>Uitgever</h3>
	
	<p>De uitgever van deze site is de vzw Vlaamse Kunstcollectie (VKC).</p>
	<p>Maatschappelijke zetel: Fernand Scribedreef 1 (Museum voor Schone Kunsten Gent), 9000 Gent</p>
	<p>Correspondentieadres: Hofbouwlaan 28, 9000 Gent</p>
	<p>De Vlaamse Kunstcollectie vzw (VKC) is enerzijds een samenwerkingsverband van de beeldende kunstenmusea, Koninklijke Museum voor Schone Kunsten Antwerpen (KMSKA), Museum voor Schone Kunsten Gent (MSK), Musea Brugge, Mu.ZEE en M Leuven. Anderzijds is de Vlaamse Kunstcollectie tevens door de Vlaamse overheid erkend als dienstverlenende organisatie voor beeld- en databeheer in de Vlaamse museumsector.</p>
	<p>Voor deze website verzamelde de VKC-content van verschillende collectiebeherende erfgoedorganisaties in Vlaanderen. Je vindt de logo’s en links naar deze partners onderaan elke webpagina.</p>
	
	<h3>Auteursrechten en het publiek domein</h3>
	
	<p>Teksten, afbeeldingen, logo’s en andere items op deze site worden mogelijks beschermd door intellectuele rechten (in het bijzonder het auteursrecht).</p>
	<p>Kopieën, reproducties, aanpassingen, vertalingen, bewerkingen, wijzigingen van het geheel, een gedeelte of de content van deze site, in welke vorm of op welke manier dan ook, zijn onderworpen aan strikte regels.</p>
	<p>De Vlaamse Kunstcollectie besteedt veel tijd en energie in het correct aangeven van de rechtenstatus van de verschillende soorten content op haar websites. We proberen deze zo goed mogelijk aan te duiden. De complexe wetgeving en de vele verschillende en soms wisselende rechtenhouders garanderen evenwel niet dat dit foutloos gebeurt. Als je een indicatie hebt van een fout in de rechtenstatus of als je van mening bent dat voor specifieke onderdelen van deze website het auteursrecht werd geschonden, dan kan je dit onmiddellijk melden aan <a href="mailto:info@vlaamsekunstcollectie.be">info@vlaamsekunstcollectie.be</a>, zodat we dit kunnen rechtzetten.</p>
	
	<h3>Afbeeldingen, hun auteursrechtenstatus en het publiek domein</h3>
	
	<p>Het auteursrecht is van kracht en kan door de auteur(srechthebbende) worden afgedwongen tot 70 jaar na het overlijden van een auteur, kunstenaar, fotograaf, …</p>
	<p>Onder elke afbeelding op deze website vind je de rechtenstatus.</p>
	<p>In principe behoren de kunstwerken van kunstenaars die reeds langer dan 70 jaar geleden zijn overleden tot het publieke domein en zijn ze auteursrechtenvrij.</p>
	<p>Waar mogelijk is gebruik gemaakt van een Creative Commons-licentie. Afbeeldingen van werken waar geen copyright of andere gebruiksvoorwaarden op rusten, krijgen de vermelding CC0.</p>
	<p>Hoewel dit niet kan worden verplicht, vragen wij, bij wijze van appreciatie, bij hergebruik van deze afbeeldingen steeds de kunstenaar, de titel van het werk, het collectiebeherende museum en de fotograaf te vermelden.</p>
	<p>Voor informatie over alle andere gebruikte Creative Commons- of Rightsstatements.org-licenties, verwijzen we naar <a href="https://creativecommons.nl/">creativecommons.nl</a> of <a href="https://rightsstatements.org/nl/">rightsstatements.org</a>.</p>
	<p>De afbeeldingen van auteursrechtelijk beschermde werken op deze website (met de vermelding ©) mogen niet gereproduceerd (gekopieerd), noch gedownload worden zonder de toestemming van de auteur of diens lasthebber. Daarom is iedere reproductie, aanpassing, gedeeltelijke wijziging of doorgifte via tv, kabel of internet van deze werken verboden, behoudens voorafgaande toestemming van de rechthebbende. De rechthebbende staat steeds vermeld na het copyrightteken ©.</p>
	<p>Bij twijfel over het hergebruik van beelden, raden we u aan contact op te nemen met de rechthebbenden of met een auteursrechtenvereniging zoals <a href="https://www.sabam.be/nl">SABAM</a> en/of andere relevante auteursverenigingen.</p>

	<h3>Hergebruik van data in het publiek domein en teksten waarop auteursrecht rust op deze website</h3>

	<p>Alle op deze website ter beschikking gestelde metadata (gegevens en beschrijvende informatie bij de getoonde werken) worden vrij ter beschikking gesteld. Je kan deze naar eigen goeddunken hergebruiken. Toon je waardering door ook de bron te vermelden: http://arthub.iiif.vlaamsekunstcollectie.be, Uitgever: Vlaamse Kunstcollectie vzw, &lt;datum&gt;</p>
	<p>De Vlaamse Kunstcollectie vzw kan niet verantwoordelijk worden gesteld voor eventuele fouten in deze metadata. Fouten kunnen vanzelfsprekend steeds worden gemeld via <a href="mailto:info@vlaamsekunstcollectie.be">info@vlaamsekunstcollectie.be</a></p>
	<p>Alle op deze website gebruikte teksten worden ter beschikking gesteld onder de Creative Commons-licenties CC-BY.</p> 
	<p>CC-BY wil zeggen dat je de tekst kunt hergebruiken mits vermelding van de vermelde auteur en de bron: &lt;naam auteur&gt;, http://arthub.iiif.vlaamsekunstcollectie.be, Uitgever: Vlaamse Kunstcollectie vzw, &lt;datum&gt;.</p>
	<p>Alle beschikbare data wordt geautomatiseerd ter beschikking gesteld via de <a href="http://datahub.vlaamsekunstcollectie.be/">Datahub</a>.</p>
	
	<h3>Downloaden of bestellen van afbeeldingen van hoge resolutie</h3>

	<p>Eveneens om auteursrechterlijke redenen kan de resolutie van de op deze website aangeboden beelden beperkt zijn.</p>
	<p>Voor beelden met hoge resolutie van werken op deze website kan je je, afhankelijk van het museum dat het werk beheert, wenden tot twee instanties. Er wordt op elke afzonderlijke werkenfiche op deze website naar deze instanties verwezen:</p>
	<ul>
		<li>Art in Flanders, een initiatief van meemoo, <a href="https://artinflanders.be/nl">https://artinflanders.be</a></li>
		<li>DAMS Antwerpen, <a href="https://dams.antwerpen.be">https://dams.antwerpen.be</a></li>
	</ul>
	<p>Wanneer er geen instantie wordt vermeld, dan kan je het betrokken museum contacteren.</p>
	<p>Zowel Art in Flanders (meemoo) als DAMS Antwerpen zullen je steeds doorverwijzen naar SABAM of andere rechthebbenden wanneer er auteursrechten in het geding zijn.</p>

	<h3>Cookies</h3>

	<p>Cookies zijn kleine, eenvoudige tekstbestanden die bij het gebruik van een website op de harde schijf van jouw computer, tablet of smartphone worden opgeslagen. Ze worden gebruikt om websites beter te laten functioneren en bezoekerscijfers bij te houden. Deze website gebruikt cookies om jouw taalkeuze te registreren, ervoor te zorgen dat je vlot op deze website surft en om anoniem bezoekersstatistieken te verzamelen via Google Analytics.</p>

	<h3>Inhoud</h3>

	<p>De Vlaamse Kunstcollectie hecht er veel belang aan dat de aangeboden informatie op de deze website betrouwbaar en up-to-date is. Omdat de collectiegegevens rechtstreeks uit de registratiesystemen van de partnermusea worden gehaald, staan die musea ook garant voor de kwaliteit ervan.</p>
	<p>Wanneer nieuwe collectiegegevens, informatie en beelden worden opgeladen, worden de oude data automatisch overschreven. Zo blijft deze website een levend systeem en kan de bezoeker de nieuwste wetenschappelijke bevindingen op de voet volgen.</p>
	<p>Naast de collectiegegevens uit de registratiesystemen krijgt de bezoeker ook context- en randinformatie, die de kunstobjecten ruimer kaderen en toelichten. Ook deze informatie moet betrouwbaar en van goede kwaliteit zijn. Daarom doet de Vlaamse Kunstcollectie voor de redactie van haar websites beroep op gespecialiseerde kunsthistorici.</p>

	<h3>Persoonsgegevens</h3>

	<p>De Vlaamse Kunstcollectie wenst de privacy van elke bezoeker van deze site te garanderen en doet dit met inachtneming van alle wettelijke en andere bepalingen inzake de bescherming van de persoonlijke levenssfeer.</p>
	<p>De Vlaamse Kunstcollectie vraagt je naam en e-mailadres te vermelden als je een vraag of opmerking aan de organisatie richt. De Vlaamse Kunstcollectie zal deze informatie nooit bekendmaken, noch aan derden doorgeven, behalve indien ze daartoe verplicht wordt door een gemachtigde overheidsinstantie. De informatie zal enkel gebruikt worden in verband met onze service(s), we zullen je nooit contacteren voor iets dat geen verband houdt met onze diensten.</p>
	<p>Persoonlijke gegevens die je ons overmaakt worden enkel gebruikt in functie van de opvolging van de opmerking of de vraag.</p>
	<p>De Vlaamse Kunstcollectie kan anonieme of geaggregeerde persoonsgegevens verzamelen van niet-persoonlijke aard, zoals browsertype of IP-adres, het besturingsprogramma die de bezoeker gebruikt of de domeinnaam van de website langs waar de bezoeker naar onze website is gekomen of waarlangs de bezoeker deze verlaat. Dit maakt het ons mogelijk om onze website permanent te optimaliseren voor onze bezoekers.</p>
	<p>Voor meer informatie of voor klachten over de behandeling van uw persoonsgegevens kan je terecht bij de Commissie voor de bescherming van de persoonlijke levenssfeer bij het Ministerie van Justitie, Waterloolaan 115, 1000 Brussel.</p>

	<h3>Aansprakelijkheid</h3>

	<p>De Vlaamse Kunstcollectie is niet aansprakelijk voor gebeurlijke fouten op de site. De Vlaamse Kunstcollectie kan in geen geval aansprakelijk of verantwoordelijk worden gesteld voor schade, van welke aard ook, die voortvloeit uit de gegevens die op deze site worden verstrekt of uit het onvolledig, voorbijgestreefd of foutief karakter ervan. De Vlaamse Kunstcollectie kan evenmin aansprakelijk of verantwoordelijk worden gesteld voor schade, van welke aard ook, die voortvloeit uit het gebruik dat je van deze site maakt.</p>
	<p>Voor links naar websites of naar webpagina’s van derden, waarover de Vlaamse Kunstcollectie geen zeggenschap heeft wat betreft de inhoud of andere kenmerken, is de Vlaamse Kunstcollectie in geen geval aansprakelijk noch verantwoordelijk.</p>
	<p>Indien enige bepaling van deze voorwaarden niet afdwingbaar zou zijn, of strijdig met een bepaling van dwingend recht, zal deze, niet-afdwingbaarheid of ongeldigheid de geldigheid en de afdwingbaarheid van andere bepalingen niet beïnvloeden.</p>

	<h3>Vragen naar toeschrijving of authenticiteit</h3>

	<p>Als je ons een vraag toestuurt over de authenticiteit van een kunstwerk of de toeschrijving van een kunstwerk aan een bepaalde kunstenaar, dan gelden volgende regels:</p>
	<p>De conservatoren van de Vlaamse Kunstcollectie en haar partnermusea (het KMSKA in Antwerpen, het Groeningemuseum in Brugge, het MSK in Gent, M - Museum Leuven en Mu.ZEE in Oostende) kunnen voor een vrijblijvende toeschrijving of authenticiteitsinschatting zorgen. Beoordelingen worden evenwel uitsluitend op verzoek van de eigenaar van het kunstwerk of diens gemachtigde, c.q. wettelijk vertegenwoordiger gegeven.</p>
	<p>Een prijszetting kunnen wij om deontologische redenen niet geven. Voor een eventuele prijszetting kan je steeds terecht bij een erkend taxateur of kunsthandelaar in je buurt (voor België: zoek in de Gouden Gids op ‘schilderijen aankoop’ of op ‘veilingen kunst’; voor Nederland: <a href="http://www.federatie-tmv.nl/">http://www.federatie-tmv.nl/</a>).</p>
	<p>Voor een toeschrijving of authenticiteitsinschatting dien je een aantal foto’s van het kunstwerk, in de hoogst mogelijke resolutie, aan ons door te sturen. De foto’s dienen zowel het werk als geheel, de eventuele handtekening van de kunstenaar, als de achterzijde van het werk als voorwerp te hebben. Ook detailfoto’s kunnen van nut zijn. Deze foto’s zullen worden overgemaakt aan een deskundig curator.</p>
	<p>Eventuele informatie over de verwerving of vorige eigenaars kunnen zeer belangrijke gegevens zijn.</p>
	<p>De vrijblijvende toeschrijving of authenticiteitsinschatting wordt gemaakt door deskundige conservatoren van de partnermusea en naar hun beste weten. Het oordeel is nooit sluitend. Bovendien is voor een meer sluitend oordeel de expertise van meerdere deskundigen noodzakelijk. Daarom noemen wij de toeschrijving of authenticiteitsinschatting dan ook ‘vrijblijvend’.</p>
	<p>Aan de inschatting of toeschrijving kunnen geen rechten verleend worden. De inschatting of de toeschrijving kan geen rechtsgrond zijn voor commercieel gebruik. De verschafte informatie is auteursrechtelijk beschermd en mag uitsluitend met toestemming van het betrokken musea openbaar worden gemaakt en/of verveelvoudigd.</p>
	<p>Zodra één van onze conservatoren een toeschrijving of authenticiteitsinschatting klaar heeft, zullen we die zo vlug mogelijk bezorgen.</p>
	<p>De VKC, noch haar partnermusea, noch het personeel van deze organisaties, kunnen aansprakelijk worden gesteld voor een eerste inschatting of toeschrijving die na verder onderzoek verkeerd blijkt. Het VKC aanvaardt evenmin aansprakelijkheid voor geleden verlies of gederfde winst.</p>

</div>