<% title = "Legal notification" %>
<% @page_title = "#{title} - #{application_name}" %>
<% content_for(:meta_description) do %>Read the legal notification before using Arthub Flanders. Visiting the website implies that you tacitly agree with the general terms and conditions.<% end %>

<div class="col-md-2">
</div>
<div class="col-md-8">
	
	<h2><%= title %></h2>
	
	<p><b>Please read this legal notification carefully. By visiting or using this website you declare that you agree to the following general terms and conditions.</b></p>
	
	<h3>Publisher</h3>
	
	<p>The publisher of this website is the Belgian non-profit organisation Flemish Art Collection vzw (Vlaamse Kunstcollectie / VKC).</p>
	<p>Headquarters: Fernand Scribedreef 1 (Museum of Fine Arts, Ghent), 9000 Gent, Belgium.</p>
	<p>Correspondence address: Hofbouwlaan 28, 9000 Gent, Belgium.</p>
	<p>The Flemish Art Collection is on one hand a structural partnership between the visual arts museums—the Royal Museum of Fine Arts Antwerp (KSMKA), the Museum of Fine Arts Ghent (MSK), Musea Brugge, Mu.ZEE, and M Leuven. On the other hand the Flemish Art Collection is also recognised by the Flemish Government as a service provider for data and image management in the Flemish museum sector.</p>
	<p>For this website, the VKC has collected content from various collection-management heritage organisations in Flanders. You can find the logos and links to these partners at the bottom of each webpage.</p>
	
	<h3>Intellectual Property Right, Copyright and Public Domain</h3>
	
	<p>Texts, images, photographs, logos and other items on this site are protected by copyright and other laws on intellectual property.</p>
	<p>Copies, reproductions, changes, translations, operations, changes to the site, part of this site or the content on this site, in whatever format or method are subjected to strict rules.</p>
	<p>The Flemish Art Collection invests a great deal of time and energy in providing correct information about the copyright status of the various types of content on its websites. We try to indicate this as well as possible. The complex laws and the many different, and sometimes changing, copyright owners, however, do not guarantee that this is done without mistakes. Should you have evidence of a problem with the copyright status, or if you think that the copyright has been infringed for specific content on this website then you can contact us at <a href="mailto:info@vlaamsekunstcollectie.be">info@vlaamsekunstcollectie.be</a>.</p>
	
	<h3>Images, their copyright status and the public domain</h3>
	
	<p>The copyright is applicable and can be enforced for up to 70 years after the death of an author, artist, photographer, etc. (or his/her authorised rights’ holder).</p>
	<p>Under each image on this website you will find the copyright status. Images of works that are protected by copyright will at least be designated by a ©, immediately followed by the mention of the person who holds the rights. Images of works from artists that do not have an existing copyright will be designated with CC0. While not required, we ask that when reusing these images you include the name of the artist, the title of the work, the name of the institution that manages the work and the name of the photographer.</p>
	<p>The images of the in-copyright artworks on this website (with the designation of ©) should not be reproduced nor downloaded without the consent of the rights holders or their agent. Therefore, any reproduction, adaptation, partial modification, or transmission via TV, cable or the Internet, of these artworks is prohibited without the prior consent of the authors or their agent.</p>
	<p>Unless otherwise mentioned, the rights holder of the works on this website are represented by <a href="https://www.sabam.be/en">SABAM</a>, Belgian Society of Authors, Composers and Publishers, 75-77 rue d’Arlon, 1040 Brussels, Belgium. Tel.: 0032 (0)2 286 82 80, e-mail: <a href="mailto:visual.arts@sabam.be">visual.arts@sabam.be</a>.</p>

	<h3>Re-use of public domain data and copyright texts on this website</h3>

	<p>All texts on this website are provided under the Creative Commons licence CC-BY. This means that you can reuse these texts as long as you include the name of the author and the source, in the form [AUTHOR NAME], https://arthub.vlaamsekunstcollectie.be, Publisher: Vlaamse Kunstcollectie vzw, [DATE].</p>
	<p>All available metadata is provided via the <a href="http://datahub.vlaamsekunstcollectie.be/">Datahub</a>.</p>
	
	<h3>To order high-resolution images</h3>

	<p>For copyright reasons, the maximum size of the images of the works on this website is limited.</p>
	<p>For high-resolution images of works, available on this website, you can contact two organisations. On each web page from this website, the organisation to contact is mentioned:</p>
	<ul>
		<li>Art in Flanders, an initiative from meemoo, <a href="http://www.artinflanders.be">http://www.artinflanders.be</a></li>
		<li>DAMS Antwerp, <a href="https://dams.antwerpen.be">https://dams.antwerpen.be</a></li>
	</ul>
	<p>When there is no instance mentioned, then you should contact the museum responsible.</p>
	<p>If appropriate, meemoo and DAMS Antwerp will refer you to SABAM (or other copyright owners and beneficiaries).</p>

	<h3>Cookies</h3>

	<p>This website uses cookies to register your language choice, make this site run smoothly and to track anonymous statistics through Google Analytics.</p>

	<h3>Content</h3>

	<p>The Flemish Art Collection considers it important that the information offered on this website is reliable and up to date. Since the information on collections is directly taken from the registration system of the partner museums, the museums also stand for the guarantee of its quality.</p>
	<p>When new collections data, information and images are uploaded, the old data is automatically overwritten. As such, this website remains an active system and the visitors can follow the most recent scientific discoveries.</p>
	<p>In addition to collection data from the registration system, the visitor also receives contextual and supplemental information that can place the art objects in a broader framework. This information must also be reliable and of good quality. Therefore, the Flemish Art Collection has specialised art historians for editing its websites.</p>

	<h3>Personal Data</h3>

	<p>The Flemish Art Collection wants to guarantee the privacy of every visitor to this site and does so with due regard for all statutory and other provisions regarding the protection of privacy. When you address a question or comment to the Flemish Art Collection, or when you use the registration and login functions of this website, you are asked to give your name and e-mail address. The Flemish Art Collection will never reveal nor pass on this information to anyone, except if obliged to do so by an authorised public body. The information will only be used with regard to our service(s), we will never contact you for something that is not related to our services.</p>
	<p>If you send us your personal details, they will be included in our files and processed for the membership database management, the sites and the (improvement of the) provided service, to carry out market surveys and questionnaires and to inform you about updates and products issued by the Flemish Art Collection.</p>
	<p>The visitor can, freely and by request, always refuse the usage of their personal information for direct marketing. For this, they are directed to contact the Flemish Art Collection, Hofbouwlaan 28, 9000 Ghent or via <a href="mailto:info@vlaamsekunstcollectie.be">info@vlaamsekunstcollectie.be</a>.</p>
	<p>In conformity to the legal processing of personal information of 08/12/1992, the visitor holds a legal right to the investigation and possible correction of his/her personal details. With a proof of identity (copy of a passport/ID card), you may via a written, dated and signed request to the Flemish Art Collection Hofbouwlaan 28, 9000 Ghent or <a href="mailto:info@vlaamsekunstcollectie.be">info@vlaamsekunstcollectie.be</a>, obtain the written notification of your personal data free of charge. If necessary, you can also request to correct the data that is incorrect, incomplete or not pertinent.</p>
	<p>The Flemish Art Collection can collect anonymous or aggregated personal information from non-personal sources, such as browser type or IP address, the operating programme that the visitor uses or the domain name of the website from which the visitor uses to get to our website or through which one the visitor leaves. This makes it possible for us to optimise our permanent website for our visitors.</p>
	<p>For more information or for complaints regarding the handling of your personal details please contact the ‘Commissie voor de bescherming van de persoonlijke levenssfeer’ (Commission for the protection of privacy), Ministry of Justice, Waterloolaan 115, 1000 Brussels.</p>

	<h3>Liability</h3>

	<p>The Flemish Art Collection is not liable for any mistakes on this site. Under no circumstance can the Flemish Art Collection be held liable or responsible for damages, irrespective of the nature, arising from the data provided on this site or the incomplete, out-dated or incorrect nature of the data. Nor can the Flemish Art Collection be held liable or responsible for damages, irrespective of the nature, arising from the use of this site.</p>
	<p>For links to websites or to web pages of third parties, over which the Flemish Art Collection has no control in terms of content or other characteristics, the Flemish Art Collection can not, under any circumstances, be held liable or responsible.</p>
	<p>If a provision of these terms and conditions cannot be enforced or conflicts with a mandatory provision, this lack of enforceability or invalidity shall not affect the validity and enforceability of the other provisions.</p>

	<h3>Inquiry regarding the attribution or authenticity</h3>

	<p>You can provide us with an inquiry regarding the authenticity of a work of art or an attribution of a work of art to a specific artist.</p>
	<p>The curators of the Flemish Art Collection, and its partner museums (the Royal Museum of Fine Arts in Antwerp, the Groeningemuseum in Bruges, the Museum of Fine Arts in Ghent, M - Museum Leuven and Mu.ZEE in Ostend) are able to provide an unofficial attribution or authenticity estimate. Estimations are also exclusively upon a visit by the owner of the work or authorised person, namely a legal representative.</p>
	<p>However, for ethical reasons we cannot provide an appraisal of value. For a possible appraisal you can always contact a recognised appraiser or art dealer in your area (for Belgium: search the Yellow Pages under ‘purchase paintings’ or ‘art auctions’; and for The Netherlands: <a href="http://www.federatie-tmv.nl/">http://www.federatie-tmv.nl/</a>).</p>
	<p>For an attribution or authenticity estimate you need to send a few photos of the work of art to us in the highest resolution possible. The photographs should show the work as an entirety, the possible signature of the artist, as well as the verso of the work. Once you have provided high-quality photos of the work of art, they will then be passed along to an expert curator.</p>
	<p>Possible information on the provenance of former owners can be of highly valuable information.</p>
	<p>The unofficial attribution or authenticity estimate is made by expert conservators of the partner museums to the best of their knowledge. Their verdict, however, is never definitive. Moreover, for a more conclusive judgment, the expertise of more experts is necessary. As such, we thus call the attribution or the authenticity estimate ‘unofficial’.</p>
	<p>No rights may be given upon the estimation or attribution. The appraisal or the attribution cannot be used for any commercial application. The information provided is protected by copyright and can only be made public and/or reproduced exclusively with the permission of the museum involved.</p>
	<p>As soon as one of our conservators has an attribution or authenticity estimate ready, we will provide you with this as soon as possible.</p>
	<p>Neither the Flemish Art Collection, nor the partner museums, nor the personnel of these organisations can be held responsible for an initial estimate or attribution that is found to be incorrect upon further inspection. The Flemish Art Collection likewise does not accept responsibility for previous damage or lost profit.</p>

</div>
