<div class="col-md-9">

	<h2>Open data</h2>

	<p>Museums provide their users access to a wealth of cultural heritage 
	objects either by exhibiting them, or by presenting them via digital 
	channels. Many of these cultural objects, their digital copies and parts of 
	the accrued metadata are subject to concerns such as copyright and 
	intellectual property rights, confidentiality, security and privacy. To 
	protect the concerns related to cultural heritage objects, museums will 
	implement a balanced policy governing access to these cultural 
	resources.</p>

	<p>Flemish Art Collection complements these policies with a series of open 
	access and open data initiatives to enhance digital access to knowledge 
	about the cultural heritage collections preserved by the museums.</p>

	<h3>What does "open" mean?</h3>

	<blockquote cite="https://opendefinition.org">
		<p>“Open data and content can be freely used, modified, and shared by 
		anyone for any purpose.”</p>
		<footer>
			<a href="https://opendefinition.org">https://opendefinition.org</a>
		</footer>
	</blockquote>

	<p>Flemish Art Collection leverages the 
	<a href="https://creativecommons.org/">Creative Commons</a> licensing 
	framework to govern access to metadata and images published on via the 
	Arthub Flanders platform.</p>

	<ul>
		<li>All <strong>metadata</strong> (with the exceptions listed below) 
		are made available via this platform contain no indication of 
		originality and therefore belong to the public domain. You can thus 
		freely use this information. This website publishes this data under a 
		Creative Commons Zero (CCO) license to make this explicitly clear.</li>

		<li>All <strong>texts</strong> used on this website were made available 
		under the Creative Commons license 
		<a href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a> or 
		<a href="https://creativecommons.org/licenses/by-nc/4.0/">CC-BY-NC</a>. 
		With each text you will find the indication of the governing copyright 
		status.</li>
	</ul>

	<p><strong>CC-BY</strong> means that the text can be re-used with a 
	mention of the name of the author (if mentioned) and the source 
	<em>(Arthub Flanders, Publisher Flemish Art Collection vzw, date)</em>.</p>

	<p><strong>CC-BY-NC</strong> means that you can re-use the text under the 
	same condition as with CC-BY, but only for non-commercial re-use. Any 
	commercial re-use is forbidden.</p>

	<p>Some parts of an object record may contain an element of orginality. 
	The values stored in the fields listed in the table below are made 
	available under the CC-BY-NC license.</p>

	<table class="table">
		<thead>
			<tr>
				<td><strong>Format</strong></td>
				<td><strong>Fields</strong></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>HTML</td>
				<td>
					<ul>
						<li>Description</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>JSON</td>
				<td>
					<ul>
						<li>response.document.description</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>LIDO XML</td>
				<td>
					<ul>
						<li>lido.descriptiveMetadata.objectIdentificationWrap.objectDescriptionWrap</li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>

	<h3>Layered licensing model</h3>

	<p>To disseminate metadata and images under the terms established by the 
	Creative Commons licensing framework, Flemish Art Collection closely 
	coöperates with its museal partners. The guiding principles which govern 
	the process of clearing data, metadata and images for publication under 
	these terms, are consolidated in a decision making matrix: a <a href="https://www.dropbox.com/s/n3x7oajc5yg8wl8/layered%20licence%20matrix%20flemish%20art%20collection160913.pdf?dl=0">
	Layered Licensing Model</a>.</p>

	<p>We refer to the <a href="/en/legal-notification">legal notification 
	page</a> for more details.</p>

</div>