<% content_for(:meta_description) do %>Arthub Flanders stelt alle gepubliceerde informatie beschikbaar als open data. Hergebruik de gegevens via de aangeboden open formaten en open licenties.<% end %>

<div class="col-md-2">
</div>
<div class="col-md-8">

	<h2>Open data</h2>

	<p>Musea bieden hun publiek toegang tot een rijkdom aan culturele erfgoedobjecten ofwel door deze tentoon te stellen ofwel door ze te presenteren via digitale kanalen. Over veel van deze culturele objecten, hun digitale kopieën en delen van de opgebouwde metadata bestaat bezorgdheid omtrent onder meer copyright en intellectuele eigendomsrechten, vertrouwelijkheid, veiligheid en privacy. Als antwoord op deze bezorgdheid, voeren musea een evenwichtig beleid ten aanzien van deze culturele bronnen.</p>

	<p>De Vlaamse Kunstcollectie vult dit beleid aan met open access- en open data-initiatieven om de digitale toegankelijkheid te verbeteren van kennis over de culturele erfgoedcollecties die bewaard worden door de musea.</p>

	<h3>Wat betekent "open"?</h3>

	<blockquote cite="https://opendefinition.org">
		<p>“Open data en content kan vrij gebruikt, aangepast en gedeeld worden door iedereen voor om het even welk doel.”</p>
		<footer>
			<a href="https://opendefinition.org">https://opendefinition.org</a>
		</footer>
	</blockquote>

	<p>De Vlaamse Kunstcollectie maakt gebruik van het 
	<a href="https://creativecommons.org/">Creative Commons</a> licensing 
	framework om de toegang tot metadata en afbeeldingen te regelen die gepubliceerd zijn op het Arthub Flanders platform.</p>

	<ul>
		<li>Alle <strong>metadata</strong> (behalve de uitzonderingen hieronder) die beschikbaar gesteld worden via dit platform, bevatten geen indicatie van originaliteit en behoren daardoor tot het publieke domein. Je kan dus vrij gebruikmaken van deze informatie. Deze website publiceert deze data onder een Creative Commons Zero (CCO) licentie om dit expliciet duidelijk te maken.</li>

		<li>Alle <strong>teksten</strong> die gebruikt worden op deze website, zijn gepubliceerd onder Creative Commons licentie 
		<a href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a> of
		<a href="https://creativecommons.org/licenses/by-nc/4.0/">CC-BY-NC</a>. 
		Bij elke tekst vind je de indicatie van de geldende copyright status.</li>
	</ul>

	<p><strong>CC-BY</strong> betekent dat de tekst kan herbruikt worden met een vermelding van de naam van de auteur (indien aanwezig) en de bron (Arthub Flanders, Uitgever Vlaamse Kunstcollectie vzw, datum)</em>.</p>

	<p><strong>CC-BY-NC</strong> betekent dat je de tekst kan hergebruiken onder dezelfde voorwaarde als bij CC-BY, maar alleen voor niet-commercieel hergebruik. Elk commercieel hergebruik is verboden.</p>

	<p>Sommige delen van een objectrecord kunnen een element van originaliteit bevatten. De waarden bewaard in de velden die hieronder in de tabel opgesomd zijn, zijn beschikbaar gesteld onder de CC-BY-NC licentie.</p>

	<table class="table">
		<thead>
			<tr>
				<td><strong>Format</strong></td>
				<td><strong>Velden</strong></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>HTML</td>
				<td>
					<ul>
						<li>Description</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>JSON</td>
				<td>
					<ul>
						<li>response.document.description</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>LIDO XML</td>
				<td>
					<ul>
						<li>lido.descriptiveMetadata.objectIdentificationWrap.objectDescriptionWrap</li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>

	<h3>Gelaagd licentiemodel</h3>

	<p>Om metadata en afbeeldingen te verspreiden onder de voorwaarden die vastgesteld zijn door het Creative Commons licensing framework, werkt de Vlaamse Kunstcollectie nauw samen met haar museale partners. De richtlijnen die het proces van het vrijgeven van data, metadata en afbeeldingen voor publicatie onder deze voorwaarden regelen, zijn vastgelegd in een beslissingsmatrix: een <a href="https://www.dropbox.com/s/n3x7oajc5yg8wl8/layered%20licence%20matrix%20flemish%20art%20collection160913.pdf?dl=0">
	Gelaagd Licentiemodel</a>.</p>

	<p>We verwijzen naar de <a href="/nl/juridische-kennisgeving">pagina met de juridische kennisgeving</a> voor meer details.</p>

</div>