<div class="captionClass1">
	<p class="title">The adoration of the magi</p>
</div>

<div class="captionClass2">
	<p class="title">Panorama II<span class="date"> (1968)</span></p>
	<p class="creator">Luc Peire</p>
	<p class="collection">Groeninge Museum, Bruges</p>
</div>

<div class="captionClass3">
	<p class="title">Work 3</p>
</div>

<div class="captionClass4">
	<p class="title">Work 4</p>
</div>

<div class="captionClass5">
	<p class="title">Work 5</p>
</div>