<div class="captionClass1">
	<a href="/en/catalog/groeningemuseum:0000_GRO1768_II" class="title">Mountainous landscape<span class="date"> (1600-1610)</span></a>
    <a href="/en/catalog?f%5Bcreator_index%5D%5B%5D=Roelant+Savery&search_field=all_fields" class="creator">Roelant Savery</a>
    <a href="/en/catalog?f%5Brepository%5D%5B%5D=Musea+Brugge+-+Groeningemuseum&search_field=all_fields" class="collection">Groeninge Museum Bruges</a>
</div>

<div class="captionClass2">
	<a href="/en/catalog/mskgent:1907-A" class="title">Still life with owl<span class="date"> (17th century)</span></a>
    <a href="/en/catalog?f%5Bcreator_index%5D%5B%5D=Peeter+Boel&search_field=all_fields" class="creator">Peeter Boel</a>
    <a href="/en/catalog?f%5Brepository%5D%5B%5D=Museum+voor+Schone+Kunsten+Gent&q=&search_field=all_fields" class="collection">Museum of Fine Arts Ghent</a>
</div>

<div class="captionClass3">
	<p class="collection">KMSKA</p>
</div>

<div class="captionClass4">
	<p class="collection">M Leuven</p>
</div>

<div class="captionClass5">
	<p class="collection">Mu.ZEE Ostend</p>
</div>