<div class="captionClass1">
	<a href="/nl/catalog/groeningemuseum:0000_GRO1768_II" class="title">Rotslandschap<span class="date"> (1600-1610)</span></a>
    <a href="/nl/catalog?f%5Bcreator_index%5D%5B%5D=Roelant+Savery&search_field=all_fields" class="creator">Roelant Savery</a>
    <a href="/nl/catalog?f%5Brepository%5D%5B%5D=Musea+Brugge+-+Groeningemuseum&search_field=all_fields" class="collection">Groeningemuseum Brugge</a>
</div>

<div class="captionClass2">
	<a href="/nl/catalog/mskgent:1907-A" class="title">Stilleven met uil en jachtbuit<span class="date"> (17de eeuw)</span></a>
    <a href="/nl/catalog?f%5Bcreator_index%5D%5B%5D=Peeter+Boel&search_field=all_fields" class="creator">Peeter Boel</a>
    <a href="/nl/catalog?f%5Brepository%5D%5B%5D=Museum+voor+Schone+Kunsten+Gent&q=&search_field=all_fields" class="collection">Museum voor Schone Kunsten Gent</a>
</div>

<div class="captionClass3">
	<p class="collection">KMSKA</p>
</div>

<div class="captionClass4">
	<p class="collection">M Leuven</p>
</div>

<div class="captionClass5">
	<p class="collection">Mu.ZEE Oostende</p>
</div>
