<div class="captionClass1">
	<p class="title">De aanbidding van de koningen</p>
</div>

<div class="captionClass2">
	<p class="title">Panorama II<span class="date"> (1968)</span></p>
	<p class="creator">Luc Peire</p>
	<p class="collection">Groeningemuseum, Brugge</p>
</div>

<div class="captionClass3">
	<p class="title">Werk 3</p>
</div>

<div class="captionClass4">
	<p class="title">Werk 4</p>
</div>

<div class="captionClass5">
	<p class="title">Werk 5</p>
</div>