<!--
<div class="page-header row">
  <h2 class="col-md-8 page-heading"><%= t('blacklight.welcome') %></h2>
  <ul class="nav nav-pills col-md-4">
    <li><a href="https://github.com/projectblacklight/blacklight/">Github</a></li>
    <li><a href="https://github.com/projectblacklight/blacklight/wiki">Wiki</a></li>
    <li><a href="https://github.com/projectblacklight/blacklight/releases/tag/v<%= Blacklight::VERSION %>">Release Notes</a></li>
  </ul>
</div>
-->

<% if I18n.locale == :en %>

<div class="row">
	  <div class="jumbotron">
  	<p class="intro">Arthub Flanders aggregates and publishes records from Flemish Museums for Fine and Contemporary Arts. These records are made available in a machine-readable format and under an open license, ready for re-use in your digital applications.</p>
  	<p>Use the search form in the navigation bar to start a search query. Find records of objects created by <a href="/en?utf8=✓&locale=en&search_field=author&q=ensor"> James Ensor</a>, <a href="/en?utf8=✓&locale=en&search_field=author&q=Rubens">Peter Paul Rubens</a> or <a href="/en?utf8=✓&locale=en&search_field=author&q=van+Eyck">Jan van Eyck</a>.</p>
    </div>

    <h3 class="page-heading">Participating museums</h2>
    <p>Arthub Flanders currently aggregates and publishes object records from <a href="https://www.visitbruges.be/en/groeningemuseum-groeninge-museum">Groeningemuseum Bruges</a>, <a href="https://www.mskgent.be">Museum for Fine Arts Ghent</a> and the <a href="https://www.kmska.be">Royal Museum of Fine Arts Antwerp</a>.</p><p>These records contain structured information - title, creator, production date,... - about objects - paintings, prints, installations, engravings,... - acquired, preserved, restaurated, curated and  exhibited by these museums.</p>

    <h3 class="page-heading">Machine readable format</h2>
    <p>The object records are made available in the <a href="http://www.lido-schema.org">LIDO XML</a> standardised exchange format. This enables software developers to re-use these records directly in their own applications.</p><p>Each object record in Arthub Flanders platform has two extra keys - <strong>Datahub API record</strong> and <strong>Datahub OAI record</strong> - which link to the JSON and XML variants of the data.</p>

    <h3 class="page-heading">Licensing and reuse of published data</h2>
    <p>All <strong>descriptive information</strong> - also known as <strong>data</strong> - mentioned on this website contain no indication of originality and therefore belong to the public domain. You can thus freely use this information. This website publishes this data under a <strong>Creative Commons Zero (CCO)</strong> license to make this explicitly clear.</p>
    <p>All <strong>texts</strong> used on this website were made available under the Creative Commons license CC-BY or CC-BY-NC. With each text you will find the indication of the governing copyright status.</p>
    <p>CC-BY means that the text can be re-used with a mention of the name of the author (if mentioned) and the source (Arthub Flanders, Publisher Flemish Art Collection vzw, www.arthubflanders.be, date).</p>
    <p>CC-BY-NC means that you can re-use the text under the same condition as with CC-BY, but only for non-commercial re-use. Any commercial re-use is forbidden.</p>
    <p>You can find more information about Creative Commons licenses at: <a href="https://creativecommons.org/">https://creativecommons.org/</a></p>
</div>

<% else %>


<div class="row">
    <div class="jumbotron">
      <p class="intro text-center">Verken 25.123 objectbeschrijvingen uit de Vlaamse Musea voor Schone en Hedendaagse Kunsten.</p>
    </div>

    <h3 class="page-heading">Deelnemende instellingen</h2>
    <p>Arthub Flanders aggregreert en publiceert momenteel objectbeschrijvingen opgesteld en beheerd door <a href="https://www.visitbruges.be/en/groeningemuseum-groeninge-museum">Groeningemuseum Brugge</a>, <a href="https://www.mskgent.be">Museum voor Schone Kunsten Gent</a> en het <a href="https://www.kmska.be">Koninklijk Museum voor Schone Kunsten Antwerpen</a>.</p>
    <p>Deze beschrijvingen bevatten gestructureerde informatie - titel, vervaardiger, productie datum,... over kunstobjecten - schilderijen, prenten, installaties, gravures,... - die de musea verwerven, bewaren, restaureren, cureren en tentoon stellen.</p>

    <h3 class="page-heading">Machineleesbaar formaat</h2>
    <p>De objectbeschrijvingen worden gepubliceerd in het <a href="http://www.lido-schema.org">LIDO XML</a> gestandaardiseerd uitwisselformaat. Dit formaat laat software-ontwikkelaars toe om deze informatie direct in eigen digitale toepassingen te integreren.</p><p>Elke objectbeschrijving in het Arthub Flanders Platform heeft twee extra sleutels - <strong>Datahub API record</strong> en <strong>Datahub OAI record</strong> - welke direct linken naar de JSON en XML varianten van de data.</p>

    <h3 class="page-heading">Licentie en hergberuik van data</h2>
    <p>Alle op deze website vermelde <strong>beschrijvende gegevens of data</strong> bevatten geen indicatie van originaliteit en behoren daarom tot het publieke domein. U kunt deze gegevens dus vrij hergebruiken. Deze website publiceert deze gegevens onder een <strong>Creative Commons Zero (CC0)</strong> licentie om dit expliciet duidelijk te maken.</p>

    <p>Alle op deze website gebruikte <strong>teksten</strong> worden ter beschikking gesteld onder de Creative Commons-licenties CC-BY of CC-BY-NC. Bij elke tekst vindt u de indicatie van de gehanteerde rechtenstatus.</p>

    <p><strong>CC-BY</strong> wil zeggen dat je de tekst kunt hergebruiken mits vermelding van de naam van de auteur (indien vermeld) en van de bron (Website Abstract Modernisme, Uitgever Vlaamse Kunstcollectie vzw, www.abstractmodernisme.be, datum).</p>

    <p><strong>CC-BY-NC</strong> geeft aan dat je de tekst kunt hergebruiken onder dezelfde voorwaarde als bij CC-BY, maar enkel voor NIET-commercieel hergebruik. Elk commercieel hergebruik is verboden.</p>

    <p>Meer informatie over de Creative Commons licenties vindt u op <a href="https://www.creativecommons.org">www.creativecommons.org</a>.</p>
</div>

<% end %>


<!--
<div id="getting-started">
  <h3 class='section-heading'>Here&rsquo;s how to get started:</h3>

  <ol>
    <li>To modify this text, you need to <a href="http://guides.rubyonrails.org/engines.html#improving-engine-functionality">override the Blacklight-provided view</a>.
You can copy this file, located in the blacklight gem: <br />
<%= Blacklight.root %>/app/views/catalog/_home_text.html.erb <br />
to your own application: <br />
 <%= Rails.root %>/app/views/catalog/_home_text.html.erb
    </li>
    <li><a href="https://github.com/projectblacklight/blacklight/wiki/Indexing-your-data-into-solr">Index your own data</a> into Solr</li>
    <li><a href="https://github.com/projectblacklight/blacklight/wiki#blacklight-configuration">Configure Blacklight</a> to match your data and user-experience needs</li>
    <li><a href="https://github.com/projectblacklight/blacklight/wiki#support">Get in touch</a> with your comments, questions, and ideas</li>
  </ol>
</div>

<%# This is the same panel shown in the Rails welcome template %>
<div id="about">
  <h3 class='section-heading'><a href="/rails/info/properties">About your application&rsquo;s environment</a></h3>
  <div id="about-content" class="well" style="display: none"></div>
</div>
-->

<script>
  $(function() {
    $('#about a').on('click', function(e) {
      e.preventDefault();

      if ($('#about-content').html() == "") {
        $('#about-content').load($(this).attr("href"), function() {
          $('#about-content').show();
        });
      } else {
        $('#about-content').toggle();
      }
    });
  });
</script>
