<div class="jumbotron text-center">
	<p class="intro">Explore <%= total_count %> object descriptions from the Flemish Museums for the Fine and Contemporary Arts.</p>
</div>

<h3 class="page-heading">Participating museums</h2>
<p>Arthub Flanders currently aggregates and publishes object records from <a href="https://www.visitbruges.be/en/groeningemuseum-groeninge-museum">Groeningemuseum Bruges</a>, <a href="https://www.mskgent.be">Museum for Fine Arts Ghent</a> and the <a href="https://www.kmska.be">Royal Museum of Fine Arts Antwerp</a>.</p><p>These records contain structured information - title, creator, production date,... - about objects - paintings, prints, installations, engravings,... - acquired, preserved, restaurated, curated and  exhibited by these museums.</p>

<h3 class="page-heading">Machine readable format</h2>
<p>The object records are made available in the <a href="http://www.lido-schema.org">LIDO XML</a> standardised exchange format. This enables software developers to re-use these records directly in their own applications.</p><p>Each object record in Arthub Flanders platform has two extra keys - <strong>Datahub API record</strong> and <strong>Datahub OAI record</strong> - which link to the JSON and XML variants of the data.</p>

<h3 class="page-heading">Licensing and reuse of published data</h2>
<p>All <strong>descriptive information</strong> - also known as <strong>data</strong> - mentioned on this website contain no indication of originality and therefore belong to the public domain. You can thus freely use this information. This website publishes this data under a <strong>Creative Commons Zero (CCO)</strong> license to make this explicitly clear.</p>
<p>All <strong>texts</strong> used on this website were made available under the Creative Commons license CC-BY or CC-BY-NC. With each text you will find the indication of the governing copyright status.</p>
<p>CC-BY means that the text can be re-used with a mention of the name of the author (if mentioned) and the source (Arthub Flanders, Publisher Flemish Art Collection vzw, www.arthubflanders.be, date).</p>
<p>CC-BY-NC means that you can re-use the text under the same condition as with CC-BY, but only for non-commercial re-use. Any commercial re-use is forbidden.</p>
<p>You can find more information about Creative Commons licenses at: <a href="https://creativecommons.org/">https://creativecommons.org/</a></p>