<div class="row">
    <div class="what-is-arthub text-center">
        <h2>Wat is Arthub Flanders?</h2>
        <p>Arthub Flanders verzamelt beschrijvingen over kunst- en erfgoedobjecten opgesteld en beheerd door de Vlaamse musea voor Schone en Hedendaagse Kusnten. Arthub Flanders publiceert deze beschrijvingen in  open formaten en onder een open licentie zodat iedereen ze kan hergebruiken in eigen toepassingen</p>
    </div>
</div>

 <div class="row">
    <div id="row1">
        <div class="col-sm-12 col-md-6 col1">
            <span class="fa icon featured fa-history"></span>
            <h3>Collecties</h3>
            <p>Arthub Flanders is een gebruiksvriendelijke zoekmachine om informatie over kunst- en erfgoedobjecten terug te vinden over de grenzen van collecties aanwezig in de Vlaamse musea voor Schone en Hedendaagse Kunsten heen.</p>
            <p><a href="#" class="btn btn-default" role="button">Meer weten</a></p>
        </div>

        <div class="col-sm-12 col-md-6 col2">
            <span class="fa icon featured fa-users"></span>
            <h3>Voor wie</h3>
            <p>Arthub Flanders is een levende catalogus voor een brede gemeenschap van museale medewerkers, onderzoekers, ontwikkelaars, (kunst)historici, onderwijs, creatieve industrieën en vele anderen.</p>
            <p><a href="#" class="btn btn-default" role="button">Meer weten</a></p>
        </div>
    </div>

    <div id="row2">
        <div class="col-sm-12 col-md-6 col1">
            <span class="fa icon featured fa-database"></span>
            <h3>Open data</h3>
            <p>Arthub Flanders stelt alle gepubliceerde informatie ter beschikking als open data. Ze hanteert open formaten en open licenties om de drempel tot hergebruik van gegevens zo laag mogelijk te leggen.</p>
            <p><a href="#" class="btn btn-default" role="button">Meer weten</a></p>
        </div>

        <div class="col-sm-12 col-md-6 col2">
            <span class="fa icon featured fa-code-fork"></span>
            <h3>Open source</h3>
            <p>Arthub Flanders maakt gebruik van open source software. Participeer mee in de ontwikkeling van de software. Discussieer en bouw mee aan de programmacode en help zo Arthub Flanders te groeien.</p>
            <p><a href="#" class="btn btn-default" role="button">Meer weten</a></p>
        </div>
    </div>
</div>

