<div class="row">
    <div class="row0 text-center">
    	<h2>What is Arthub Flanders?</h2>
    	<p>Arthub Flanders is a search engine for information about objects from the visual arts museums in Flanders. All information (called metadata) about these objects is published as open data, so that everyone can reuse it in their own applications.</p>
    </div>
</div>

 <div class="row">
    <div id="row1">
        <div class="col-sm-12 col-md-6 col1">
            <span class="fa icon featured fa-history"></span>
            <h3>Collections</h3>
            <p>At this time, the Arthub contains <%= total_count %> object descriptions from the Museum of Fine Arts Ghent, the Royal Museum for Fine Arts Antwerp, the Groeninge Museum in Bruges and Mu.ZEE Ostend. The Arthub will be further expanded with the collections from other Flemish museums.</p>
            <p><a href="/en/collections" class="btn btn-default" role="button">Learn more</a></p>
        </div>

        <div class="col-sm-12 col-md-6 col2">
            <span class="fa icon featured fa-users"></span>
            <h3>Audience</h3>
            <p>Arthub Flanders is a living catalogue for a diverse audience of museum professionals, researchers, technical developers, (art) historians, education professionals, policy makers, students, creative industries and the wider public who are interested in art collections.</p>
            <p><a href="/en/how-to-use" class="btn btn-default" role="button">Learn more</a></p>
        </div>
    </div>

    <div id="row2">
        <div class="col-sm-12 col-md-6 col1">
            <span class="fa icon featured fa-database"></span>
            <h3>Open data</h3>
            <p>Arthub Flanders offers all the published information as open data. The platform leverages open formats and open licenses to enable accessibility and re-use.</p>    
            <p><a href="/en/open-data" class="btn btn-default" role="button">Learn more</a></p>
        </div>

        <div class="col-sm-12 col-md-6 col2">
            <span class="fa icon featured fa-code-fork"></span>
            <h3>Open source</h3>
            <p>Arthub Flanders is built with open source software. Participate in the development of this software! <a href="https://github.com/VlaamseKunstcollectie" target="_blank">Submit issues, changes or suggestions</a> and help shape the growth of Arthub Flanders.</p>        
            <p><a href="/en/open-source" class="btn btn-default" role="button">Learn more</a></p>
        </div>
    </div>
</div>

