    <div class="jumbotron">
      <p class="intro text-center">Verken 25.123 objectbeschrijvingen uit de Vlaamse Musea voor Schone en Hedendaagse Kunsten.</p>
    </div>

    <h3 class="page-heading">Deelnemende instellingen</h2>
    <p>Arthub Flanders aggregreert en publiceert momenteel objectbeschrijvingen opgesteld en beheerd door <a href="https://www.visitbruges.be/en/groeningemuseum-groeninge-museum">Groeningemuseum Brugge</a>, <a href="https://www.mskgent.be">Museum voor Schone Kunsten Gent</a> en het <a href="https://www.kmska.be">Koninklijk Museum voor Schone Kunsten Antwerpen</a>.</p>
    <p>Deze beschrijvingen bevatten gestructureerde informatie - titel, vervaardiger, productie datum,... over kunstobjecten - schilderijen, prenten, installaties, gravures,... - die de musea verwerven, bewaren, restaureren, cureren en tentoon stellen.</p>

    <h3 class="page-heading">Machineleesbaar formaat</h2>
    <p>De objectbeschrijvingen worden gepubliceerd in het <a href="http://www.lido-schema.org">LIDO XML</a> gestandaardiseerd uitwisselformaat. Dit formaat laat software-ontwikkelaars toe om deze informatie direct in eigen digitale toepassingen te integreren.</p><p>Elke objectbeschrijving in het Arthub Flanders Platform heeft twee extra sleutels - <strong>Datahub API record</strong> en <strong>Datahub OAI record</strong> - welke direct linken naar de JSON en XML varianten van de data.</p>

    <h3 class="page-heading">Licentie en hergberuik van data</h2>
    <p>Alle op deze website vermelde <strong>beschrijvende gegevens of data</strong> bevatten geen indicatie van originaliteit en behoren daarom tot het publieke domein. U kunt deze gegevens dus vrij hergebruiken. Deze website publiceert deze gegevens onder een <strong>Creative Commons Zero (CC0)</strong> licentie om dit expliciet duidelijk te maken.</p>

    <p>Alle op deze website gebruikte <strong>teksten</strong> worden ter beschikking gesteld onder de Creative Commons-licenties CC-BY of CC-BY-NC. Bij elke tekst vindt u de indicatie van de gehanteerde rechtenstatus.</p>

    <p><strong>CC-BY</strong> wil zeggen dat je de tekst kunt hergebruiken mits vermelding van de naam van de auteur (indien vermeld) en van de bron (Website Abstract Modernisme, Uitgever Vlaamse Kunstcollectie vzw, www.abstractmodernisme.be, datum).</p>

    <p><strong>CC-BY-NC</strong> geeft aan dat je de tekst kunt hergebruiken onder dezelfde voorwaarde als bij CC-BY, maar enkel voor NIET-commercieel hergebruik. Elk commercieel hergebruik is verboden.</p>

    <p>Meer informatie over de Creative Commons licenties vindt u op <a href="https://www.creativecommons.org">www.creativecommons.org</a>.</p>