<div class="row">
    <div class="row0 text-center">
        <h2>Wat is Arthub Flanders?</h2>
        <p>Arthub Flanders is een zoekmachine voor informatie over museale objecten van de beeldendekunstmusea in Vlaanderen. Alle informatie (zgn. metadata) over objecten is gepubliceerd als open data, zodat iedereen ze kan hergebruiken in eigen toepassingen.</p>
    </div>
</div>

 <div class="row">
    <div id="row1">
        <div class="col-sm-12 col-md-6 col1">
            <span class="fa icon featured fa-history"></span>
            <h3>Collecties</h3>
            <p>Momenteel omvat de Arthub meer dan 15.000 objectbeschrijvingen uit het Museum voor Schone Kunsten in Gent, het Koninklijk Museum voor Schone Kunsten Antwerpen en het Groeningemuseum in Brugge. De Arthub zal verder uitgebreid worden met collecties van andere Vlaamse musea. Op korte termijn bijvoorbeeld met een deel van de collectie van Mu.ZEE.</p>
            <p><a href="/nl/collecties" class="btn btn-default" role="button">Meer weten</a></p>
        </div>

        <div class="col-sm-12 col-md-6 col2">
            <span class="fa icon featured fa-users"></span>
            <h3>Voor wie</h3>
            <p>Arthub Flanders is een levende catalogus voor een brede gemeenschap van kunst- en erfgoedprofessionals, onderzoekers, beleidsmakers, leerkrachten, studenten, digitale ontwikkelaars en een breed publiek van geïnteresseerden in kunstcollecties.</p>
            <p><a href="/nl/handleiding" class="btn btn-default" role="button">Meer weten</a></p>
        </div>
    </div>

    <div id="row2">
        <div class="col-sm-12 col-md-6 col1">
            <span class="fa icon featured fa-database"></span>
            <h3>Open data</h3>
            <p>Arthub Flanders stelt alle gepubliceerde informatie ter beschikking als open data. Ze hanteert open formaten en open licenties om hergebruik mogelijk te maken.</p>
            <p><a href="/nl/open-gegevens" class="btn btn-default" role="button">Meer weten</a></p>
        </div>

        <div class="col-sm-12 col-md-6 col2">
            <span class="fa icon featured fa-code-fork"></span>
            <h3>Open source</h3>
            <p>Arthub Flanders maakt gebruik van opensourcesoftware. Participeer mee in de ontwikkeling van de software. <a href="https://github.com/VlaamseKunstcollectie" target="_blank">Discussieer en bouw mee aan de programmacode</a> en help zo Arthub Flanders te groeien.</p>
            <p><a href="/nl/open-bron" class="btn btn-default" role="button">Meer weten</a></p>
        </div>
    </div>
</div>

