<div class="row">
    <div class="row0 text-center">
    	<h2>What is Arthub Flanders?</h2>
    	<p>Arthub Flanders collects metadata about cultural heritage objects exhibited and preserved by the Flemish museums of Visual Arts. Arthub Flanders disseminates metadata in open formats under open licenses allowing flexible reuse in your own applications.</p>
    </div>
</div>

 <div class="row">
    <div id="row1">
        <div class="col-sm-12 col-md-6 col1">
            <span class="fa icon featured fa-history"></span>
            <h3>Collections</h3>
            <p>Arthub Flanders is a user-friendly search machine which makes finding information about cultural heritage objects across the boundaries of collections and the Flemish museums of Visual Arts possible.</p>        
            <p><a href="/en/collections" class="btn btn-default" role="button">Learn more</a></p>
        </div>

        <div class="col-sm-12 col-md-6 col2">
            <span class="fa icon featured fa-users"></span>
            <h3>Audience</h3>
            <p>Arthub Flanders is a living catalogue for a diverse audience of museal workers, researchers, technical developers, (art) historians, educational professionals, creative industries and many more.</p>
            <p><a href="/en/how-to-use" class="btn btn-default" role="button">Learn more</a></p>
        </div>
    </div>

    <div id="row2">
        <div class="col-sm-12 col-md-6 col1">
            <span class="fa icon featured fa-database"></span>
            <h3>Open data</h3>
            <p>Arthub Flanders disseminates all the available information as open data. The platform leverages open technical formats and open licenses to promote accessibility and foster reuse of metadata about cultural heritage objects.</p>    
            <p><a href="/en/open-data" class="btn btn-default" role="button">Learn more</a></p>
        </div>

        <div class="col-sm-12 col-md-6 col2">
            <span class="fa icon featured fa-code-fork"></span>
            <h3>Open source</h3>
            <p>Arthub Flanders is build with open source software. Participate in the development of these software tools. Submit issues, changes or suggestions and help shape the growth of Arthub Flanders.</p>        
            <p><a href="/en/open-source" class="btn btn-default" role="button">Learn more</a></p>
        </div>
    </div>
</div>

