<div class="panel panel-default">
  <div class="panel-heading"><%= t('blacklight.technical_details') %></div>
  <div class="panel-body">
  	<dl class="dl-invert dl-horizontal">
    	<%= render_technical_details(@document) %>
	</dl>
  </div>
</div>