<div class="documentBody row col-md-12">
  <div class="col-md-3 index-thumbnail">
    <%= link_to document do %>
        <%= image_tag iiif_thumbnail_url_field(document, "206,"), alt: render_image_alt(document) %>
    <% end %>
  </div>
