.btn-primary {
    background: #0bb4d3;
    border: 1px solid #087d93;
}

.btn-primary:hover {
    background: #087d93;
}

#sort-dropdown .dropdown-toggle,
#per_page-dropdown .dropdown-toggle {
   color: #0bb4d3;
}