// Colors available
$color1: #0bb4d3; // Blue
$color2: #087d93; // Dark blue
$color3: #ffffff; // White
$color4: #5F585D; // Dark grey
$color5: #eeeeee; // Grey
$color6: #000000; // Black

// Bootstrap variables
